<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Book Recommender System</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">
  </head>
  <style>
    .text-white{
        color:white
    }
  </style>
  <body style="background-color: black">
    <nav class="navbar" style="background-color: aqua"> 
        <a class="navbar-brand"> My Book recommender</a>
        <ul class="nav navbar-nav">
            <li><a href="/">Home</a></li>
            <li><a href="/recommend">Recommend</a></li>
            <li><a>Contact</a></li>
        </ul>
    </nav>

<div class="container">
    <div class="row">
        <div class="col-md-12">
            <h1 class="text-white" style="font-size: 50px"> Top 50 Books </h1>
        </div>
        
        {% for i in range (book_name|length)%}
            <div class="col-md-3" style="margin-top: 50px">
                <div class="card">
                    <div class="card-body">
                        <img class="card-img-top" src="{{ image[i] }}">
                        <p>{{book_name[i]}}</p>
                        <h4> {{author[i]}}</h4>
                        <h4>Votes- {{votes[i]}}</h4>
                        <h4>Rating- {{rating[i]}}</h4>
                    </div>
                </div>
            </div>
        {% endfor %}
        
    </div>
</div>
</body>
</html>